:root {
    --beige: #efe6d5;
    --blue: #9dbeb7;
    --red: #e73213;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: var(--beige);
}

ul {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--beige);
}

button {
    border: 2px solid var(--red);
    padding: 5px;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--beige);
    transition: 0.1s;
    box-shadow: var(--shadow);
}

button:hover {
    background-color: var(--beige);
    color: var(--red);
    transition: 0.1s;
}

header {
    background-color: var(--blue);
    color: var(--beige);
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    box-shadow: var(--shadow);
}

.projectTaskContainer {
    display: flex;
    padding: 30px;
    height: 100%;
    gap: 10px;
}

#projectForm,
#taskForm {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 46, 0.7);
}

.formWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
    background-color: var(--blue);
    color: var(--red);
}

input,
select {
    border: none;
    border-radius: 5px;
    color: var(--red);
    padding: 5px;
}

textarea {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--red);
}

label {
    color: var(--red);
}

option {
    color: var(--red);

}

.projectsContainer {
    background-color: var(--blue);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    box-shadow: var(--shadow);
}

.projectsContainer button {
    width: 100%;
    margin-bottom: 8px;
}

#tasksContainer {
    width: 100%;
    background-color: var(--blue);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    box-shadow: var(--shadow);
}

.task button {
    margin-right: 10px;
    margin-top: 10px;
}

#tasksList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.task,
.project {
    border: 2px solid var(--beige);
    border-radius: 10px;
    background-color: var(--beige);
    padding: 10px;
    box-shadow: var(--shadow);
}

.task p,
.project p {
    color: var(--blue);
}

.project {
    margin-bottom: 8px;
}

.currentProject,
.projectList {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--beige);
    padding: 5px;
    border-radius: 10px;
    background-color: var(--beige);
    color: var(--blue);
    box-shadow: var(--shadow);
}

#projectFormMessage,
#taskFormMessage {
    color: var(--red);
    justify-self: center;
}